<div class="p-6">
    <h2 class="text-xl font-semibold mb-4">Lista de Vehículos</h2>
    <table class="min-w-full bg-white rounded shadow">
      <thead class="bg-gray-200">
        <tr>
          <th class="px-4 py-2">Tipo</th>
          <th class="px-4 py-2">Modelo</th>
          <th class="px-4 py-2">Número Económico</th>
          <th class="px-4 py-2">Actual Kilometraje</th>
          <th class="px-4 py-2">Proximo Servicio</th>
          <th class="px-4 py-2">Total kilometraje </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehiculo of vehiculos" class="hover:bg-gray-100">
          <td class="px-4 py-2">{{ vehiculo.tipo }}</td>
          <td class="px-4 py-2">{{ vehiculo.modelo }}</td>
          <td class="px-4 py-2">{{ vehiculo.numeroEconomico }}</td>
          <td class="px-4 py-2">{{vehiculo.actualKilometraje}}</td>
          <td class="px-4 py-2">{{vehiculo.proximoServicio}}</td>
          <td class="px-4 py-2">{{vehiculo.totalKilometraje}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  


